.root {
  position: absolute;
  top: 25px;
  z-index: 4;
  font-size: 20px;
  width: 1024px;
}

.container {
  width: 870px;
  margin: 0 auto;
  display: flex;
  align-items: center;
}

.verticalLine {
  margin: 0 41px;
  border-left: 2px solid black;
  height: 31px;
}

.home {
  font-size: 32px;
}

.disabled {
  z-index: 1;
}